{% extends 'base_template.html' %}
{% load staticfiles %}

{% block style %}
    {% if user.balance.found %}
        <link rel="stylesheet" href="{% static 'css/city_view.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'css/not_found.css' %}">
    {% endif %}
{% endblock style %}


{% block navigation %}
    <li><a href="{% url 'profile' %}">Profile</a></li>
    <li><a href="{% url 'map' %}">Map</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
{% endblock navigation %}

{% block content %}
    <div class="panel">
    <h1>Welcome to {{ city.name }}, {{ user.username|capfirst }}</h1><br>
    {% if user.balance.found %}
        <h2>Congratulations on finding the thing!</h2>
    {% else %}
        <h2>Too bad! The thing is not here</h2>
    {% endif %}
    </div>
{% endblock content %}