{% extends 'base_template.html' %}
{% load staticfiles %}
{% load leaflet_tags %}

{% block title %}Map{% endblock title %}
{% block style %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock style %}

{% block content %}
    <div class="panel">
        <h1>Where would you like to go next?</h1>
        <div>
            <form method="post" action="">
                {% csrf_token %}
                {{ form }}

                <input value="Search" type="submit">
            </form>
        </div>
        <div id="map"></div>
    </div>
    <script>
        var map = L.map('map').setView([{{ current.latitude }}, {{ current.longitude }}], 2);
        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
            maxZoom: 11,
            minZoom: 2
        }).addTo(map);
        var current = L.marker([{{ current.latitude }}, {{ current.longitude }}]).addTo(map);
        current.bindPopup('<b>{{ current.name }}, {{ current.country }}</b><br>You are here.').openPopup();
        {% if destination %}
        var destination = L.marker([{{ destination.latitude }}, {{ destination.longitude }}], {draggable:'true'}).addTo(map);
        destination.bindPopup('<b>{{ destination.name }}, {{ destination.country }}</b><br>Cost: ${{ cost }}<br>Duration: {{ duration }} hrs<a href="{% url 'city_view' destination.id %}"><div class="go">Go</div></a>').openPopup();
        {% endif %}
    </script>
{% endblock content %}