{% extends 'base_template.html' %}
{% load staticfiles %}

{% block title %}Profile{% endblock title %}
{#{% block link %}<link rel="stylesheet" href="{% static 'css/nav.css' %}">{% endblock %}#}
{% block style %}<link rel="stylesheet" href="{% static 'css/profile.css' %}">{% endblock style %}


{% block content %}
    <div class="panel">
    <h1>{{ user.username|capfirst }}</h1>
    <div>
        <h4>You started the search on {{ user.date_joined }}</h4>
        <h4>You have {{ user.balance.get_time_left_days }} days left to find the thing.</h4>
        <h4>You have ${{ user.balance.money }} left</h4>
        <h4>You have {% if user.balance.found %}found{% else %}not found{% endif %} the thing</h4>
        <h4>You are currently at {{ city }}.</h4>
    </div>
    </div>
{% endblock content %}