body {
    background: url('../img/world_map.jpg') no-repeat;
}

.main {
    margin-top: 5%;

    height: 600px;
}

#welcome {
    border-radius: 10px;
}

.jumbotron {
    margin-top: 15%;
    text-align: center;
}

.footer {
    color: #ffffff;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    height: 100px;
}

a {
    color: #ffffff;
}

a:hover {
    text-decoration: none;
    color: #ffffff;
}